*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}*/

.drop-area{
    border: 5px dashed #ddd;
    height: 500px;
    width: 700px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#drop{
    align-items: center;

}

.drop-area.active{
    background-color: #b8d4fe;
    color: black;
    border: 2px dashed #618ac9;

}

.drop-area h3{
    font-size: 40px;
    font-weight: 500;
    color: #000;
}

.drop-area span{
    font-size: 25px;
    font-weight: 500;
    columns: #000;
    
}

.drop-area button{
    background-color: #5256ad;
}

.file-container{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: solid 1px #ddd;
}

#preview{
    margin-top: 10px;
}

.status-text{
    padding: 0 10px;
}

.success{
    color: #52ad5a;
}
.failure{
    color: #ff0000;
}

